<div class="color-bg-1 md-whiteframe-z1" layout="column"  layout-align="start center">
    <div layout="column" layout-align="start center" class="color-bg-1  m-b-10 fill-horizontal">
        <div class="fill-horizontal color-bg-5 color-1 h-40 s-100 bold" layout="row" layout-align="start center">
            <div style="width:48px" layout="row" layout-align="center center"  ng-click="showComment(false)">
                <md-icon  style="margin-top:0px;" icon="images/action/ic_assignment_24px.svg" icon-fill="white"></md-icon>
            </div>
            <div flex layout="row" layout-align="start center" class="h-48 s-90">
                Comentários
            </div>
            <div style="width:48px" layout="row" layout-align="center center" class="pointer" ng-click="showComment(false)">
                <md-icon  style="margin-top:0px;" icon="images/content/ic_clear_24px.svg" icon-fill="white"></md-icon>
            </div>
        </div>
        <div flex layout="column" layout-align="center center" class="fill-horizontal p-10">
            <textarea cols="80" id="comment_text" rows="5" ng-model="currentQuestion.comment"></textarea>
        </div>
        <div layout="row" layout-align="end center" class="fill-horizontal p-10 h-64">
            <div style="width:128px;" layout="row" layout-align="end center">
                <md-button class="md-raised fill-horizontal color-bg-5 color-1 s-80 m-h-10 p-h-20 h-40 bold" ng-click="showComment(false)">Salvar</md-button>
            </div>
        </div>

    </div>
</div>